<!DOCTYPE html>
<html>
<body>
<h1> Create a Team and Heroes! </h1>
<form action="/team" method="POST">
<p><label for="team_name">Team Name:</label>
  <input type="text" id="team[name]" name="team[name]"></p>
<p><label for="team_motto">Team Motto:</label>
  <input type="text" id="team[motto]" name="team[motto]"></p>

<h2> Hero 1 </h2>
<p><label for="member1_name">Heroes Name:</label>
  <input type="text" id="member1_name" name="team[member][][name]"></p>
<p><label for="member1_power">Heroes Power:</label>
  <input type="text" id="member1_power" name="params[:motto]"></p>
<p><label for="member1_bio">Heroes Bio:</label>
  <input type="text" id="member1_bio" name="member1_bio"></p>

<h2>Hero 2</h2>
  <p><label for="member2_name">Heroes Name:</label>
    <input type="text" id="member2_name" name="team[member][][name]"></p>
  <p><label for="member2_power">Heroes Power:</label>
    <input type="text" id="member2_power" name="member2_power"></p>
  <p><label for="member2_bio">Heroes Power:</label>
    <input type="text" id="member2_bio" name="member2_bio"></p>

<h2>Hero 3</h2>
    <p><label for="member3_name">Heroes Name:</label>
      <input type="text" id="member3_name" name="team[member][][name]"></p>
    <p><label for="member3_power">Heroes Power:</label>
      <input type="text" id="member3_power" name="member3_power"></p>
    <p><label for="member3_bio">Heroes Bio:</label>
      <input type="text" id="member3_bio" name="member3_bio"></p>
      <input type="submit" id="submit">


</form>

</body>
</html>
