<!DOCTYPE html>
<html>
<body>
<h1> Create a Team and Heroes! </h1>
<form action="/team" method="POST">
<label for="team_name">Team Name:</label>
  <input type="text" id="team[name]" name="team[name]">
<label for="team_motto">Team Motto:</label>
  <input type="text" id="team[motto]" name="team[motto]">
<label for="member1_name">Heroes Name:</label>
  <input type="text" id="member1_name" name="member1_name">
<label for="member1_power">Heroes Power:</label>
  <input type="text" id="member1_power" name="member1_power">
<label for="member1_bio">Heroes Power:</label>
  <input type="text" id="member1_bio" name="member1_bio">
  <label for="member2_name">Heroes Name:</label>
    <input type="text" id="member2_name" name="member2_name">
  <label for="member2_power">Heroes Power:</label>
    <input type="text" id="member2_power" name="member2_power">
  <label for="member2_bio">Heroes Power:</label>
    <input type="text" id="member2_bio" name="member2_bio">
    <label for="member3_name">Heroes Name:</label>
      <input type="text" id="member3_name" name="member3_name">
    <label for="member3_power">Heroes Power:</label>
      <input type="text" id="member3_power" name="member3_power">
    <label for="member3_bio">Heroes Power:</label>
      <input type="text" id="member3_bio" name="member3_bio">
      <input type="submit" id="submit">


</form>

</body>
</html>
